# Next.js
.next/
out/
build/

# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
tsconfig.tsbuildinfo

# Misc
.DS_Store
*.tgz
